__pycache__/
Thumbs.db

.env
.coverage

# tool caches
.mypy_cache
.ruff_cache
.tox

# poetry build
dist/
# nix-build
result

# tox / pipeline outputs
coverage.xml
codacy-coverage-reporter

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
.envrc
